[includeIf "gitdir:~/"]
	path = ~/.gitconfig-personal
[includeIf "gitdir:~/Work/Raya/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/Work/Asklora/dinder/"]
	path = ~/.gitconfig-personal
[core]
	editor = nvim
[commit]
	template = /Users/gentashandi/.gitmessage
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
; [merge]
;   tool = meld
; [mergetool "meld"]
;   path = /opt/homebrew/bin/meld
; [mergetool]
;   keepBackup = false
